body {
    background-color:rgb(203, 240, 255);
   }

.navbar {
    background-image: url(https://3.bp.blogspot.com/-7Y14mDmdP18/WJTdF1ryVZI/AAAAAAAAAAw/INSDZSBAHGwZ50eIbwnMgCs6X9ujDAKiACLcB/s1600/i3_20160203142344.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-image { 
    background-image:url(https://im6.ezgif.com/tmp/ezgif-6-0af340cce27e.gif) ;
    color:rgb(17, 45, 99);
    font-style: italic;
    text-align: center;
    font-weight: 800%;
    font-family:cursive;
    border-right: 10px blue groove;
    border-left: 10px blue groove;
    border-bottom: 10px blue groove;
    border-top: 10px blue groove;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#CheapFlights {
    margin-top: 10%;
}

#CurrencyExchange {
    margin-top: 10%;
}

#Support {
    margin-top: 5%;
}

footer {
    text-align: center;
    margin-top: 100%;
}
