
#cheap-flights{
    margin-top: 10%;
   

}

#cheap-flightsflights-at-fifferent-currency-exchange{
    margin-top: 20%;

}

#support{
    margin-top: 30%;


h1 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing:0.2em;
    word-spacing:0.5em;
    color:blue ;
}

.navbar {
    background-image: url(https://3.bp.blogspot.com/-7Y14mDmdP18/WJTdF1ryVZI/AAAAAAAAAAw/INSDZSBAHGwZ50eIbwnMgCs6X9ujDAKiACLcB/s1600/i3_20160203142344.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


#flight-search {
    margin-top: 10%;
}

#currency-exchange {
    margin-top: 10%;
}

#support {
    margin-top: 10%;

}

#footer{
    text-align: center;

    margin-top: 100%;
}


body{
     background-color:rgb(203, 240, 255); 
     
    }


.box-1{ 
    background-image:url(https://im6.ezgif.com/tmp/ezgif-6-0af340cce27e.gif) ;
    color:rgb(17, 45, 99);
    font-style: italic;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-right: 10px blue groove;
    border-left: 10px blue groove;
    border-bottom: 10px blue groove;
    border-top: 10px blue groove;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.container{
       margin-top: 50px;
       margin-left: 200px;
       font-size: 20px;
       color: black;
       font-weight: bold;